{% extends 'base/base.html' %}
{% load static %}

{% block content %}


  <div class="openmobile-menu fixed top-0 h-screen pt-10 pb-6 bg-white shadow-box2 w-[320px] overflow-y-auto flex flex-col
        z-[999]">
    <div class="flex justify-between px-6 flex-none">
      <a href="index.html" class="brand-logo flex-none mr-10 ">
        <img src="{% static 'sites/assets/images/logo/logo.svg' %}" alt="">
      </a>
      <span class=" text-3xl text-black cursor-pointer rt-mobile-menu-close">
            <iconify-icon icon="fe:close"></iconify-icon>
        </span>
    </div>
    <div class="mobile-menu mt-6 flex-1 ">
      <ul class="menu-active-classes">
        <li class=" menu-item-has-children">
          <a href="#">Home</a>
          <ul class="sub-menu">
            <li>
              <a href="index.html">Home One</a>
            </li>
            <li>
              <a href="index2.html">Home Two</a>
            </li>
            <li>
              <a href="index3.html">Home Three</a>
            </li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a href="#">Pages</a>
          <ul class="sub-menu">
            <li>
              <a href="about.html">About 1</a>
            </li>
            <li>
              <a href="about2.html">About 2</a>
            </li>
            <li>
              <a href="instructor.html">instructor 1</a>
            </li>
            <li>
              <a href="instructor2.html">instructor 2</a>
            </li>
            <li>
              <a href="instructor-details.html">instructor Single</a>
            </li>
            <li>
              <a href="event.html">Event</a>
            </li>
            <li>
              <a href="event-single.html">Event single</a>
            </li>
            <li>
              <a href="404.html">404</a>
            </li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a href="#">Courses</a>
          <ul class="sub-menu">
            <li>
              <a href="courses.html">courses</a>
            </li>
            <li>
              <a href="courses-sidebar.html">courses Sidebar</a>
            </li>
            <li>
              <a href="single-course.html">Single-course</a>
            </li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a href="#">Blog</a>
          <ul class="sub-menu">
            <li>
              <a href="blog.html">Blog</a>
            </li>
            <li>
              <a href="blog-full.html">Full Width</a>
            </li>
            <li>
              <a href="blog-standard.html">Blog Standard</a>
            </li>
            <li>
              <a href="blog-single.html">Single Blog</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="contact.html">Contacts</a>
        </li>
      </ul>
    </div>
    <div class=" flex-none pb-4">
      <div class=" text-center text-black font-semibold mb-2">Follow Us</div>
      <ul class="flex space-x-4 justify-center ">
        <li>
          <a href="#" class="flex h-10 w-10">
            <img src="{% static 'sites/assets/images/icon/fb.svg' %}" alt="">
          </a>
        </li>
        <li>
          <a href="#" class="flex h-10 w-10">
            <img src="{% static 'sites/assets/images/icon/tw.svg' %}" alt="">
          </a>
        </li>
        <li>
          <a href="#" class="flex h-10 w-10">
            <img src="{% static 'sites/assets/images/icon/pn.svg' %}" alt="">
          </a>
        </li>
        <li>
          <a href="#" class="flex h-10 w-10">
            <img src="{% static 'sites/assets/images/icon/ins.svg' %}" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class=" min-h-screen bg-[url('https://bestwpware.com/html/tf/images/all-img/404-bg.png')] bg-cover bg-no-repeat bg-center">
    <div class="max-w-[570px] mx-auto flex flex-col items-center text-center justify-center min-h-screen px-4">
      <img src="{% static 'sites/assets/images/all-img/404.svg' %}" alt="" class="mb-14">
      <h2 class=" mb-6">Page not found</h2>
      <div class="mb-10">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor labore et dolore magna aliqua.
      </div>
      <a href="#" class="btn btn-primary">Back To Home</a>
    </div>
  </div>

{% endblock content %}